/*for index styled assign*/
html {
	font-size: 100%;
}

#container {
  width: 85%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
body {
  background-color: #FFE3DC;
  }


h1 {
  font-family: 'Muli', Helvetica, sans-serif;
  font-weight:800;
  font-size: 2.25rem;
  color: #C5492D;
  text-align: center;;
}
h2 {
  font-family: 'Muli', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #C5492D;
  text-align: left;
  font-style: normal;
}

.mySlides

#footer {
    color: #5E3F3A;
		font-family: 'Lora', "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
		font-style: italic;
}
