/*for index styled assign*/
html {
	font-size: 100%;
}

#container {
  width: 85%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
body {
  background-color: #FFE3DC;
  }
	.caption {
	    color: black;
	    font-family: 'Lora', "Times New Roman", serif;
	    font-style: italic;
	    font-size: 0.8em;
	    margin-top: 0;
	    text-align: left;
	}

p {
  color: black;
  font-family: 'Lora', "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.5rem; /*this is like leading*/
  font-weight: normal;
  font-style: normal;
	margin-bottom: 0;
	
}
ul {
  color: black;
  font-family: 'Lora', "Times New Roman", serif;
  font-size: 1rem;
  line-height: 2rem; /*this is like leading*/
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'Muli', Helvetica, sans-serif;
  font-weight:800;
  font-size: 2.25rem;
  color: #C5492D;
  text-align: center;;
}
h2 {
  font-family: 'Muli', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #C5492D;
  text-align: left;
  font-style: normal;
}
h3 {
  color: #C5492D;
  font-family: 'Muli', Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.4rem;
  font-style: normal;
}

.italic {
	font-style: italic;
}

img {
  border: none;
}
#nav {
  padding: 0;
  list-style-type: none;
}
#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #FFE3DC;
}

#nav a:link, #nav a:visited {
  display: block;
  text-decoration: none;
  color: #5E3F3A;
  font-weight: 400;
  background-color: #FF6651;
  font-family: 'Muli', Helvetica, sans-serif;
  text-align: center;
  padding: 6px;
}
#nav a:hover, a:active {
    background-color: #C5492D;
}

a {
  color: #5E3F3A;
  text-decoration: none;
  font-weight: 700;
}
a:hover, a:active {
  color: #C5492D;
}

#footer {
    color: #5E3F3A;
		font-family: 'Lora', "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
		font-style: italic;
}
