/*for index styled assign*/
html {
	font-size: 100%;
}

#container {
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
	overflow: hidden;
}
body {
  background-color: #E9FDFF;
  }

#left {
	width:300px;
	height:105vh;
	float:left;
	margin-right: 10px;
	border-right-style: double;
	border-right-width:3px;
	background-image: url(sunrise.jpg);
	background-repeat: no-repeat;
	border-color: #E6B393;
}

#section {
	margin-left: 300px;
	border-top: 2px dashed;
	border-left-style: double;
	border-left-width:3px;
	border-color: #E6B393;
}

#description {
	width:250px;
	margin-left: 300px;
}

#nav {
  padding: 0;
  list-style-type: none;
}
#nav li {
  margin: 0;
  padding: 10px;
}
#nav a:link, #nav a:visited {
  display: block;
  text-decoration: none;
  color: #0A6369;
  font-weight: 400;
  background-color: #59CBCF;
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
}
#nav a:hover, a:active {
    background-color: #E6B393;
}

h1 {
	  font-family: 'Josefin Sans', Helvetica, sans-serif;
	  font-weight:800;
	  font-size: 3rem;
	  color: #C05A1A;
	  text-align: left;
		margin-left: 10px;
}
.h2color {
	color: #C05A1A;
}

.logo {
	font-family: 'Josefin Sans', Helvetica, sans-serif;
	color: #C05A1A;
}

h2 {
	font-family: 'Droid Serif', "Times New Roman", sans-serif;
	font-weight: 700;
	color: #0A6369;
}
h3 {
	font-family: 'Droid Serif', "Times New Roman", sans-serif;
	font-weight: 400;
}
p {
	font-family: 'Droid Serif', "Times New Roman", sans-serif;
}

.list {
	color: #C05A1A;
}

li a {
	text-decoration: none;
	font-family: 'Droid Serif', "Times New Roman", sans-serif;
	color: #0A6369;
}
li a:hover, a:active {
	text-decoration: none;
	font-family: 'Droid Serif', "Times New Roman", sans-serif;
	color: #C05A1A;
}

#footer {
    color: #5E3F3A;
		font-family: 'Droid Serif', "Times New Roman", serif;
    font-size: 0.8em;
		font-style: normal;
		clear: both;
		background-color: #E6B393;
		padding-left: 15px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
}
.italic {
	font-style: italic;
}
.shortwidth {
	width:450px;
}
.sidebyside {
	display: inline-block;
}
