html {
	font-size: 100%;
}

#container {
  width: 95%;
}

body {
  background-color: #f1f1f2; /*grey*/
  }

	p {
	  color: black;
	  font-family: 'Muli', Helvetica, sans-serif;
	  font-size: 1rem;
	  line-height: 1.5rem; /*this is like leading*/
	  font-weight: normal;
	  font-style: normal;
		margin-bottom: 0;
		max-width: 35em; /*so text doesn't span across whole browser */
	}
	ul {
	  color: black;
		font-family: 'Muli', Helvetica, sans-serif;
	  font-size: 1rem;
	  line-height: 2rem; /*this is like leading*/
	  font-weight: normal;
	  font-style: normal;
	}
	h1 {
	  font-family: 'Playfair Display', "Times New Roman", serif;
	  font-weight:700;
	  font-size: 3rem;
	  color: #a12253; /*dark pink*/
	  text-align: center;
		margin-top: 10px;
	}
	h2 {
	  font-family: 'Montserrat', Helvetica, sans-serif;
		font-weight: 300;
	  font-size: 1.8rem;
	  color: #a12253;
	  text-align: center;
	  font-style: normal;
	}
	h3 {
	  color: #a12253;
	  font-family: 'Montserrat', Helvetica, sans-serif;
	  text-align: center;
		font-weight: 300;
	  font-size: 1.4rem;
	  font-style: normal;
	}
	#nav {
	  padding: 0;
		margin-bottom: 30px;
	  list-style-type: none;
		text-align: center;
	}
	#nav ul {
		margin: 0;
		padding: 0;
	}
	#nav li {
	  margin: 0;
		margin-right: 30px;
	  padding: 0;
	  border-bottom: none;
		display: inline;
		font-family: 'Montserrat', Helvetica, sans-serif;
		font-size: 1.4rem;
	}
	#nav a {
		text-decoration: none; /*no underline*/
		color: #a12253;

	}

	/*put rest of nav here*/

#footer {
	color: #a12253;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 0.8em;
	border-top: 1px dotted #a12253;
	font-style: italic;
}

.italic {
	font-style: italic;
}
.smallh3 {
	font-style: italic;
	font-size: 1.1rem;
}
.centerimg {
	 margin: 0 auto; /*center resume, off center right now... */
}

/*flexbox*/
.wrapper {
    display: flex;
    flex-flow: row wrap;
}
header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}
article {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
}
header {
	margin: 0;
	padding: 0;
}

/*These styles activate when the page is larger than 600px wide*/

@media (min-width:600px) {
	/*about me image and paragraphs flex box styling */
	article {
		flex: 3 0px;
		margin-left: 20%;
	}
	article {
        order: 1;
    }

		footer {
			order: 2;
		}

		.image {
        width: 45%;
    }

    .story {
        width: 40%;
				margin-left: 10px; /*space between img of me and ps */
    }

    .first {
        margin-top: 0;
    }

		/*other styles */
		.portfoliosize1 {
			width: 25%;
			margin-right: 15px;
		}

		.portfolio {
			margin-left: 20%; /*margin on porfolio thumbnails, what makes them look centered */
		}
		#portfoliolabels li {
			display: inline;
			font-size: 1.2rem;
		  color: #a12253;
		}
		#portfoliolabels {
			text-align: center;
		}
/*portfoliolabels spacing */
#first {
	margin-right: 30px;
}
		#middle {
			margin-left: 50px;
		}
		#last {
			margin-left: 65px;
			margin-right: 0;
		}

} /*end 600px media query bracket */
