html {
	font-size: 100%;
}

#container {
  width: 95%;
}

body {
  background-color: #f1f1f2;
  }

	p {
	  color: black;
	  font-family: 'Muli', Helvetica, sans-serif;
	  font-size: 1rem;
	  line-height: 1.5rem; /*this is like leading*/
	  font-weight: normal;
	  font-style: normal;
		margin-bottom: 0;
	}
	ul {
	  color: black;
		font-family: 'Muli', Helvetica, sans-serif;
	  font-size: 1rem;
	  line-height: 2rem; /*this is like leading*/
	  font-weight: normal;
	  font-style: normal;
	}
	h1 {
	  font-family: 'Playfair Display', "Times New Roman", serif;
	  font-weight:700;
	  font-size: 3rem;
	  color: #a12253;
	  text-align: center;
	}
	h2 {
	  font-family: 'Montserrat', Helvetica, sans-serif;
	  font-size: 1.8rem;
		font-weight: 300;
	  color: #a12253;
	  text-align: center;
	  font-style: normal;
	}
	h3 {
	  color: #a12253;
	  font-family: 'Montserrat', Helvetica, sans-serif;
	  text-align: center;
		font-weight: 300;
	  font-size: 1.4rem;
	  font-style: normal;
	}
	#nav {
	  padding: 0;
	  list-style-type: none;
	}
	#nav li {
	  margin: 0;
	  padding: 0;
	  border-bottom: none;
		display: inline;
	}

	#nav a:link, #nav a:visited {
	  display: block;
	  text-decoration: none;
	  color: #5E3F3A;
	  font-weight: 400;
	  background-color: #FF6651;
	  font-family: 'Muli', Helvetica, sans-serif;
	  text-align: center;
	  padding: 6px;
	}
	#nav a:hover, a:active {
	}
